.navbar{
    padding-top: 20px;
	padding-bottom: 20px;
    width: calc(100% - 2px);
    border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
    display: flex;

}

.navbar a{
    text-decoration: none;
    text-transform: uppercase;
	color: #34495e;
	font-size: .99em;
}

.home{
    margin-left: 10px;
    width: calc(90% - 10px);
    font-weight: bold;
}

.download{
    width: calc(10% - 20px);
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.download:hover{
    color: #718daa;
}
